<script src="tabback.js"></script>
<script type="text/javascript">

function getManifest(callback) {
	var xhr = new XMLHttpRequest();
	xhr.onload = function() {
		callback(JSON.parse(xhr.responseText));
	};
	xhr.open('GET', './manifest.json', true);
	xhr.send(null);
}

getManifest(function(manifest) {
	if (localStorage["version"]) {
		if (localStorage["version"] != manifest.version) {
			/* Jason: uncomment if important update that you want users to reloaded their tabs */
			//chrome.tabs.create({url:"startup.html?update=true"});
		}
	} else {
		chrome.tabs.create({url:"startup.html"});
	}
	localStorage["version"] = manifest.version;	
});

</script>

